html.development {
  body {
    &:after {
      content: 'xs';
      @apply fixed -ml-1 rounded inline-block text-center bg-black text-white leading-5 px-4 py-4;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
        'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
      z-index: 99999999;
      bottom: theme('spacing.5');
      @screen sm {
        content: 'sm';
      }
      @screen md {
        content: 'md';
      }
      @screen lg {
        content: 'lg';
      }
      @screen xl {
        content: 'xl';
      }
    }
  }
  &:hover {
    body:after {
      @apply hidden;
    }
  }
}
